In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from IPython.display import display
from IPython.display import Image
sns.set_context("notebook")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

# Extracting Data and Filtering
:The `[]` operator supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows.

The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

# Q1.
Select multiple criteria by creating multiple boolean Series and combining them using the `&` operator. For Examole Result is win and %win is more than 50.

In [113]:
elections = pd.read_csv("C:\\Users\\MOEED\Desktop\Knowledge Streams\elections.csv") # reading a CSV file into a data frame
# Answer Here

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\MOEED\\Desktop\\Knowledge Streams\\elections.csv'

We will nowe work with a dataset containing the names of all babies born in California, USA. Visit the [Social Security Adminisitration Website](https://www.ssa.gov/oact/babynames/limits.html) for more details about the dataset if you want.

**Let's start by loading the Baby Names dataset.**

In [170]:
import urllib.request
import os.path
import zipfile
import pandas as pd

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'STATE.CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.head(15)

   State Sex  Year       Name  Count
0     CA   F  1910       Mary    295
1     CA   F  1910      Helen    239
2     CA   F  1910    Dorothy    220
3     CA   F  1910   Margaret    163
4     CA   F  1910    Frances    134
5     CA   F  1910       Ruth    128
6     CA   F  1910     Evelyn    126
7     CA   F  1910      Alice    118
8     CA   F  1910   Virginia    101
9     CA   F  1910  Elizabeth     93
10    CA   F  1910   Florence     93
11    CA   F  1910      Marie     90
12    CA   F  1910    Mildred     90
13    CA   F  1910       Rose     74
14    CA   F  1910      Hazel     68

# Q2.
Calculate the some statics of babynames DataFrame using Utility Functions, like .describe(), .size(), .shape() and report your analysis in comments

In [115]:
#Answer Here
a=babynames.describe()
a

                Year          Count
count  407428.000000  407428.000000
mean     1985.733609      79.543456
std        27.007660     293.698654
min      1910.000000       5.000000
25%      1969.000000       7.000000
50%      1992.000000      13.000000
75%      2008.000000      38.000000
max      2022.000000    8260.000000

In [70]:
b=babynames.size
b

2037140

In [71]:
c=babynames.shape
c

(407428, 5)

# Q.3:

Using the babynames DataFrame that contains baby names data for the state of California, how can you use the 'isin' method to find out which records have names that are in a given list of names, such as "Emma," "Liam," and "Olivia," and what would be the output of this operation when applied to the first 15 rows of the DataFrame (babynames.head(15))?

In [116]:
# List of names to check
name=['Emma','Liam','Olivia']


# Use the isin method to filter records with names in the name_list
babynames[babynames['Name'].isin(name)]
# Display the filtered DataFrame

       State Sex  Year    Name  Count
53        CA   F  1910    Emma     29
293       CA   F  1911    Emma     29
525       CA   F  1912    Emma     56
701       CA   F  1912  Olivia      8
840       CA   F  1913    Emma     56
...      ...  ..   ...     ...    ...
396005    CA   M  2019    Liam   2401
398870    CA   M  2020    Liam   2426
401402    CA   M  2020    Emma      5
401666    CA   M  2021    Liam   2477
404545    CA   M  2022    Liam   2610

[283 rows x 5 columns]

# Q.4:
How can you use the 'str.startswith' method in pandas to filter records in a babyname DataFrame? Provide an example code using the babynames DataFrame and explain how this method can be employed to extract data for baby names that begin with 'A' or 'B' set of letters.

In [117]:
# Filter rows where the 'Name' column starts with 'A' Or 'B'
b=babynames[babynames['Name'].str.startswith('A','B')]

# Display the filtered DataFrame
b

       State Sex  Year     Name  Count
7         CA   F  1910    Alice    118
31        CA   F  1910     Anna     51
32        CA   F  1910      Ann     47
57        CA   F  1910    Anita     28
68        CA   F  1910     Alma     24
...      ...  ..   ...      ...    ...
407112    CA   M  2022  Avinash      5
407113    CA   M  2022  Avyukth      5
407114    CA   M  2022    Aycen      5
407115    CA   M  2022   Ayrton      5
407116    CA   M  2022     Azad      5

[44760 rows x 5 columns]

# Q.5

Find the most popular baby name in California in 2012

__Exercise__: Try to find the most popular baby name by finding the maximum value for 'Count' and then apply filtering to find the name.

In [118]:
CA_names=babynames[babynames['State'].isin(['CA']) & babynames['Year'].isin([2012])]
popular=CA_names['Count'].max()
pop=CA_names[CA_names['Count']== popular]
pop=pop.iloc[0]['Name']
pop

'Sophia'

# Q. 6
Find baby names that start with J, in th Year from 2001 to 2019

*Note: To answer this question, we need a way to look at the individual characters of the baby names*

In [119]:
# Answer Here
babynames[babynames['Name'].str.startswith('J') & babynames['Year'].isin(range(2001,2020))]

       State Sex  Year         Name  Count
152826    CA   F  2001      Jessica   2244
152828    CA   F  2001     Jennifer   2027
152832    CA   F  2001      Jasmine   1655
152847    CA   F  2001   Jacqueline   1195
152857    CA   F  2001        Julia    983
...      ...  ..   ...          ...    ...
398685    CA   M  2019  Joseantonio      5
398686    CA   M  2019       Jovian      5
398687    CA   M  2019       Jujhar      5
398688    CA   M  2019      Jullian      5
398689    CA   M  2019         June      5

[11276 rows x 5 columns]

# Q.7
Add a new column called "name_length" to the babynames DataFrame, you can use .str.len() in existing Name column. Moreover. also modify the Length values with new values like existing_value-1 and rename the length column with new label as desceribe in slides.

In [155]:
# Calculate the length of each name and add it as a new column "_length"
babynames['name_length']= babynames['Name'].str.len()
# Change lenght value of each name
babynames['name_length']=babynames['name_length']-1
babynames
# Rename the "_length" column to "Length"
babynames.rename(columns={'name_length': 'Length'}, inplace=True)
babynames
# Drop the  "Length" column
babynames.drop(columns='Length', inplace=True)
babynames

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
407423    CA   M  2022   Zayvier      5
407424    CA   M  2022       Zia      5
407425    CA   M  2022      Zora      5
407426    CA   M  2022    Zuriel      5
407427    CA   M  2022      Zylo      5

[407428 rows x 5 columns]

# Q.8

Use .str.split() to sample the names with 'ad' string and show first 10 samples.

In [159]:
# use str.contains() function
babynames[babynames['Name'].str.contains('ad')].head(10)

    State Sex  Year      Name  Count
19     CA   F  1910    Gladys     63
96     CA   F  1910  Madeline     17
136    CA   F  1910     Sadie     10
257    CA   F  1911    Gladys     61
346    CA   F  1911    Nadine     14
376    CA   F  1911  Madeline     11
472    CA   F  1911     Madge      5
480    CA   F  1911     Sadie      5
506    CA   F  1912    Gladys     87
569    CA   F  1912  Madeline     31

More on str methods when we'll study regular expressions in this course. Note that there are other approaches that we can use to find the same answer as above.

In [161]:
# Create a boolean mask for rows containing 'ad' in the "Name" column
mask = babynames['Name'].str.contains('ad', case=False)


# Use the mask to select rows and sample 5 random rows
rows = babynames[mask].sample(n=5)
rows

       State Sex  Year       Name  Count
241415    CA   M  1916   Trinidad      6
179645    CA   F  2007      Addie      7
83316     CA   F  1980  Guadalupe    300
321635    CA   M  1991       Adel      7
407082    CA   M  2022       Ahad      5

# Q.9
 Sort names by their length.

In the babynames DataFrame, which baby name appears most frequently across all years and states, and how can you use pandas to find this information? Provide the code and steps to determine the most popular baby name in the dataset.

In [167]:


# Group the data by "Name" and sum the "Count" for each name
name_counts = babynames.groupby('Name')['Count'].sum()

# Find the name with the highest total count
most_popular_name = name_counts.idxmax()
total_count = name_counts.max()

# Display the most popular name and its count
most_popular_name

'Michael'

In [168]:
total_count

435716

# Q.10

1: How can you use the .sample() method to randomly select a single row from the babynames DataFrame, and what is the purpose of such a selection?

2: Suppose you want to generate a random sample of 10 baby names from the babynames DataFrame. How would you use the .sample() method to achieve this, and what parameters or arguments would you specify?

3: In a scenario where you need to ensure reproducibility, explain how you can set a random seed when using the .sample() method in pandas.

4: You want to perform a bootstrap resampling analysis on the baby names data in the babynames DataFrame. Describe how you can repeatedly sample with replacement using .sample() to create multiple bootstrap samples for statistical analysis.

Performing a bootstrap resampling analysis on the baby names data in the babynames DataFrame involves repeatedly drawing random samples with replacement from the dataset to create multiple samples that simulate the population. This process allows you to estimate the sampling distribution of a statistic, make inferences, and perform statistical analysis. Bootstrap provides a straightforward way to calculate confidence intervals for a statistic.

In [174]:
#Answer Here
import pandas as pd

# Assuming 'babynames' DataFrame contains baby names data

# Randomly select a single row
random_row = babynames.sample(n=5)

# Show the randomly selected row
random_row

# For 3rd part Set a random seed (e.g., 34) before using .sample()
# Perform random sampling using .sample()


# For 4th Part


# Assuming you have the 'babynames' DataFrame

# Set the random seed for reproducibility


# Number of bootstrap samples
#num_samples = 1000

# Sample size (same as the original dataset)


# Initialize a list to store bootstrap sample statistics


# Perform bootstrapping

    # Generate a bootstrap sample with replacement

    # Perform your statistical analysis on the bootstrap sample here
    # For example, you can calculate the mean, median, or other statistics

    # Append the statistic of interest (mean of baby count for each name) to the list

       State Sex  Year     Name  Count
43507     CA   F  1960   Melany      7
56368     CA   F  1967     Elba      7
41809     CA   F  1959  Donalee      6
272593    CA   M  1961    Grant    141
272055    CA   M  1960  Raphael      9

# Q.11
1: The code randomly mixes up the list of baby names. Why might someone want to do this, and how could it affect the analysis of the names?

2: After mixing, the code figures out how long each baby name is. Why would we care about name lengths, and what can this tell us about the names?

3: The code arranges the name lengths from longest to shortest. Why might we want to do this, and what could it help us find in the data?

4: The code finds the order of baby names based on their lengths and shows us the first few names in this new order. When might we need to organize names this way, and what might we discover from the first few names in this order?

In [ ]:
#Part1, shuffling can be done using sample(frac=1)

#Part2

#Part3

#Part4