# Lecture 4 –Fall 2023

A demonstration of advanced `pandas` syntax to accompany Lecture 4.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import numpy as np
import pandas as pd
import plotly.express as px

## Dataset: California baby names

In today's lecture, we'll work with the `babynames` dataset, which contains information about the names of infants born in California.

The cell below pulls census data from a government website and then loads it into a usable form. The code shown here is outside of the scope of Data 100, but you're encouraged to dig into it if you are interested!

In [18]:
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "C:\\Users\\MOEED\Desktop\Knowledge Streams/babynamesbystate.zip"
if not os.path.exists(local_filename): # If the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'STATE.CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

### Exercises
We want to obtain the first three baby names with `count > 250`.

1.Code this using, loc and head()

2.Code this using, loc and iloc()

3.Code this using [] and head ()

In [15]:
# Answer Here
babynames.loc[babynames['Count']>250].head(3)

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

In [25]:
# Answer Here
babynames.loc[babynames['Count']>250].iloc[0:3]

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

In [29]:
# Answer Here
babynames[babynames['Count']>250].head(3)

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

### `.isin` for Selection based on a list, array, or `Series`

In [49]:
# Note: The parentheses surrounding the code make it possible to break the code into multiple lines for readability

( babynames[(babynames["Name"] == "Bella") |
              (babynames["Name"] == "Alex") |
              (babynames["Name"] == "Narges") |
              (babynames["Name"] == "Lisa")])

In [76]:
# A more concise method to achieve the above: .isin
#Answer Here
name=pd.Series(['Bella','Alex','Narges','Lisa','Mary'])
babynames[babynames['Name'].isin(name)]

       State Sex  Year  Name  Count
0         CA   F  1910  Mary    295
233       CA   F  1911  Mary    390
484       CA   F  1912  Mary    534
787       CA   F  1913  Mary    584
1120      CA   F  1914  Mary    773
...      ...  ..   ...   ...    ...
393248    CA   M  2018  Alex    495
396111    CA   M  2019  Alex    438
398983    CA   M  2020  Alex    379
401788    CA   M  2021  Alex    333
404663    CA   M  2022  Alex    344

[491 rows x 5 columns]

### `.str` Functions for Defining a Condition

In [45]:
# What if we only want names that start with "J"?
#Answer Here
babynames[babynames['Name'].str.startswith('J')]

       State Sex  Year        Name  Count
16        CA   F  1910   Josephine     66
44        CA   F  1910        Jean     35
46        CA   F  1910      Jessie     32
59        CA   F  1910       Julia     28
66        CA   F  1910     Juanita     25
...      ...  ..   ...         ...    ...
407245    CA   M  2022     Jibreel      5
407246    CA   M  2022   Joseangel      5
407247    CA   M  2022  Josejulian      5
407248    CA   M  2022       Juelz      5
407249    CA   M  2022      Jujhar      5

[34751 rows x 5 columns]

## Adding, Removing, and Modifying Columns

### Add a Column
To add a column, use `[]` to reference the desired new column, then assign it to a `Series` or array of appropriate length.

In [80]:
# Create a Series of the length of each name
babynames['Name'].str.len()
         
# Add a column named "name_lengths" that includes the length of each name
babynames['name_length']=babynames['Name'].str.len()
babynames

       State Sex  Year      Name  Count  name_length
0         CA   F  1910      Mary    295            4
1         CA   F  1910     Helen    239            5
2         CA   F  1910   Dorothy    220            7
3         CA   F  1910  Margaret    163            8
4         CA   F  1910   Frances    134            7
...      ...  ..   ...       ...    ...          ...
407423    CA   M  2022   Zayvier      5            7
407424    CA   M  2022       Zia      5            3
407425    CA   M  2022      Zora      5            4
407426    CA   M  2022    Zuriel      5            6
407427    CA   M  2022      Zylo      5            4

[407428 rows x 6 columns]

### Modify a Column
To modify a column, use `[]` to access the desired column, then re-assign it to a new array or Series.

In [211]:
# Modify the "name_lengths" column to be one less than its original value
babynames['name_length']=babynames['name_length']+1
babynames

KeyError: 'name_length'

### Rename a Column Name
Rename a column using the `.rename()` method.

In [93]:
# Rename "name_lengths" to "Length"
babynames.rename(columns={'name_length':'Length'}, inplace=True)
babynames

       State Sex  Year      Name  Count  Length
0         CA   F  1910      Mary    295       3
1         CA   F  1910     Helen    239       4
2         CA   F  1910   Dorothy    220       6
3         CA   F  1910  Margaret    163       7
4         CA   F  1910   Frances    134       6
...      ...  ..   ...       ...    ...     ...
407423    CA   M  2022   Zayvier      5       6
407424    CA   M  2022       Zia      5       2
407425    CA   M  2022      Zora      5       3
407426    CA   M  2022    Zuriel      5       5
407427    CA   M  2022      Zylo      5       3

[407428 rows x 6 columns]

### Delete a Column
Remove a column using `.drop()`.

In [127]:
# Remove our new "Length" column
babynames.drop('Length',axis='columns')
babynames

       State Sex  Year      Name  Count  Length  name_length
0         CA   F  1910      Mary    295       3            4
1         CA   F  1910     Helen    239       4            5
2         CA   F  1910   Dorothy    220       6            7
3         CA   F  1910  Margaret    163       7            8
4         CA   F  1910   Frances    134       6            7
...      ...  ..   ...       ...    ...     ...          ...
407423    CA   M  2022   Zayvier      5       6            7
407424    CA   M  2022       Zia      5       2            3
407425    CA   M  2022      Zora      5       3            4
407426    CA   M  2022    Zuriel      5       5            6
407427    CA   M  2022      Zylo      5       3            4

[407428 rows x 7 columns]

## Custom sorting

In [128]:
# Sort a Series Containing Names
babynames.sort_values('Name')

       State Sex  Year     Name  Count  Length  name_length
366001    CA   M  2008    Aadan      7       4            5
384005    CA   M  2014    Aadan      5       4            5
369120    CA   M  2009    Aadan      6       4            5
398211    CA   M  2019  Aadarsh      6       6            7
370306    CA   M  2010    Aaden     62       4            5
...      ...  ..   ...      ...    ...     ...          ...
220691    CA   F  2017    Zyrah      6       4            5
197529    CA   F  2011    Zyrah      5       4            5
217429    CA   F  2016    Zyrah      5       4            5
232167    CA   F  2020    Zyrah      5       4            5
404544    CA   M  2021    Zyrus      5       4            5

[407428 rows x 7 columns]

In [130]:
# Sort a DataFrame – there are lots of Michaels in California
babynames.sort_values('Count',ascending=False)

       State Sex  Year      Name  Count  Length  name_length
268041    CA   M  1957   Michael   8260       6            7
267017    CA   M  1956   Michael   8258       6            7
317387    CA   M  1990   Michael   8246       6            7
281850    CA   M  1969   Michael   8245       6            7
283146    CA   M  1970   Michael   8196       6            7
...      ...  ..   ...       ...    ...     ...          ...
317292    CA   M  1989  Olegario      5       7            8
317291    CA   M  1989   Norbert      5       6            7
317290    CA   M  1989     Niles      5       4            5
317289    CA   M  1989    Nikola      5       5            6
407427    CA   M  2022      Zylo      5       3            4

[407428 rows x 7 columns]

### Approach 1: Create a temporary column

In [134]:
# Create a Series of the length of each name
babynames['Name'].str.len()

# Add a column named "name_lengths" that includes the length of each name
babynames['name_length']=babynames['Name'].str.len()
babynames
# Sort by the temporary column
babynames.sort_values('name_length')

       State Sex  Year             Name  Count  Length  name_length
326570    CA   M  1993               An      8       1            2
292150    CA   M  1976               Al     13       1            2
252556    CA   M  1937               Al     21       1            2
401470    CA   M  2020               Jr      5       1            2
260022    CA   M  1948               Ed     43       1            2
...      ...  ..   ...              ...    ...     ...          ...
339472    CA   M  1998  Franciscojavier      6      14           15
327358    CA   M  1993  Johnchristopher      5      14           15
337477    CA   M  1997  Ryanchristopher      5      14           15
312543    CA   M  1987  Franciscojavier      5      14           15
321792    CA   M  1991  Ryanchristopher      7      14           15

[407428 rows x 7 columns]

In [158]:
# Drop the 'name_length' column
babynames=babynames.drop('name_length',axis='columns')

KeyError: "['name_length'] not found in axis"

### Approach 2: Sorting using the `key` argument

In [149]:
# Answer Here
babynames.sort_values("Name", key=lambda x: x.str.len(),ascending=False).head()

       State Sex  Year             Name  Count  Length  name_length
334166    CA   M  1996  Franciscojavier      8      14           15
337301    CA   M  1997  Franciscojavier      5      14           15
339472    CA   M  1998  Franciscojavier      6      14           15
321792    CA   M  1991  Ryanchristopher      7      14           15
327358    CA   M  1993  Johnchristopher      5      14           15

### Approach 3: Sorting Using the `map` Function

We can also use the Python map function if we want to use an arbitrarily defined function. Suppose we want to sort by the number of occurrences of "dr" plus the number of occurences of "ea".

In [170]:
# First, define a function to count the number of times "sa" or "me" appear in each name
def dr_ea_count(string):
    return string.count('dr')+ string.count('ea')

# Then, use `map` to apply `dr_ea_count` to each name in the "Name" column
babynames['dr_ea_count']=babynames['Name'].map(dr_ea_count)
# Sort the DataFrame by the new "dr_ea_count" column so we can see our handiwork
babynames=babynames.sort_values('dr_ea_count',ascending=False)
babynames.head()

       State Sex  Year      Name  Count  Length  sa_me_count  dr_ea_count
108731    CA   F  1988  Deandrea      5       7            0            3
115957    CA   F  1990  Deandrea      5       7            0            3
131029    CA   F  1994  Leandrea      5       7            0            3
101976    CA   F  1986  Deandrea      6       7            0            3
308131    CA   M  1985  Deandrea      6       7            0            3

In [165]:
def sa_me_count(string):
    return string.count('sa') + string.count('ma')
babynames['sa_me_count']=babynames['Name'].map(sa_me_count)
babynames=babynames.sort_values(by='sa_me_count',ascending=False)
babynames.head()

       State Sex  Year       Name  Count  Length  sa_me_count
141460    CA   F  1997   Almarosa      5       7            2
238980    CA   F  2022    Rumaysa      6       6            2
175347    CA   F  2006  Rosamaria      8       8            2
78097     CA   F  1977  Lisamarie      5       8            2
87773     CA   F  1981  Lisamarie      7       8            2

In [179]:
# Drop the `dr_ea_count` column
babynames=babynames.drop('sa_me_count', axis='columns')
babynames

       State Sex  Year      Name  Count  Length
108731    CA   F  1988  Deandrea      5       7
115957    CA   F  1990  Deandrea      5       7
131029    CA   F  1994  Leandrea      5       7
101976    CA   F  1986  Deandrea      6       7
308131    CA   M  1985  Deandrea      6       7
...      ...  ..   ...       ...    ...     ...
382841    CA   M  2014     Ervin     13       4
382808    CA   M  2014  Reginald     14       7
407269    CA   M  2022    Keyler      5       5
407272    CA   M  2022     Kirin      5       4
62115     CA   F  1970   Jerilyn     11       6

[407428 rows x 6 columns]

## Grouping

Group rows that share a common feature, then aggregate data across the group.

In this example, we count the total number of babies born in each year (considering only a small subset of the data, for simplicity).

<img src="images/groupby.png" width="800"/>

In [205]:
# DataFrame with baby gril names only
babynames=babynames[babynames['Sex']=='F']
# Answer Here
#Groupby similar features like year and apply aggregate
#babynames.groupby('Year').agg(min)
# Answer Here
# Sort by Count
babynames.groupby('Count').agg(max).head()
# Answer Here

      State Sex  Year     Name  Length
Count
6604     CA   F  1948    Linda       4
6634     CA   F  1990  Jessica       6
6759     CA   F  1947    Linda       4
6846     CA   F  1987  Jessica       6
6951     CA   F  1991  Jessica       6

In [206]:
# print first 10 entries
babynames.groupby('Count').agg(max).head(10)

      State Sex  Year   Name  Length
Count
5        CA   F  2022  Zyrah      14
6        CA   F  2022  Zyrah      13
7        CA   F  2022   Zyra      13
8        CA   F  2022   Zyra      13
9        CA   F  2022  Zylah      13
10       CA   F  2022   Zyra      13
11       CA   F  2022  Zylah      13
12       CA   F  2022  Zylah      13
13       CA   F  2022   Zuri      13
14       CA   F  2022  Zylah      13

In [208]:
#the total baby count in each year
babynames[['Year','Count']].groupby('Year').agg(sum)
# Answer Here

       Count
Year
1910    5950
1911    6602
1912    9804
1913   11860
1914   13815
...      ...
2018  189208
2019  184228
2020  173763
2021  173913
2022  172454

[113 rows x 1 columns]

There are many different aggregation functions we can use, all of which are useful in different applications.

In [213]:
# What is the earliest year in which each name appeared?
# Answer Here
babynames.groupby('Name').agg('first')

        State Sex  Year  Count  Length
Name
Aadhini    CA   F  2022      6       6
Aadhira    CA   F  2021      7       6
Aadhya     CA   F  2007      5       5
Aadya      CA   F  2006      7       4
Aahana     CA   F  2011      7       5
...       ...  ..   ...    ...     ...
Zyanya     CA   F  2006      9       5
Zyla       CA   F  2012      6       3
Zylah      CA   F  2010      6       4
Zyra       CA   F  2012      6       3
Zyrah      CA   F  2011      5       4

[13782 rows x 5 columns]

In [47]:
# What is the largest single-year count of each name?
f_babynames=babynames[babynames['Sex']=='F']
a=f_babynames.groupby('Name')['Count'].idxmax()
b=f_babynames.loc[a]

# Answer Here
print(b[['Name','Year','Count']])

           Name  Year  Count
238687  Aadhini  2022      6
223283  Aadhira  2018     10
210341   Aadhya  2015     50
214622    Aadya  2016     29
222277   Aahana  2018     26
...         ...   ...    ...
203354   Zyanya  2013     15
237183     Zyla  2022     20
230254    Zylah  2020     14
233743     Zyra  2021     16
220691    Zyrah  2017      6

[13782 rows x 3 columns]

In [242]:
#Can you find the most popular baby name in the state of California (CA) for each year? use idxmax function.
most_popular_name=babynames[babynames['State']=='CA']
#Provide a list of years along with the corresponding most popular names."
result = most_popular_name.groupby("Year")['Count'].idxmax()

#Answer Here
results=most_popular_name.loc[result]
print(results[['Name','Year','Count']])

          Name  Year  Count
0         Mary  1910    295
233       Mary  1911    390
484       Mary  1912    534
787       Mary  1913    584
1120      Mary  1914    773
...        ...   ...    ...
221194    Emma  2018   2751
224891  Olivia  2019   2608
228550  Olivia  2020   2353
232168  Olivia  2021   2402
235835  Olivia  2022   2178

[113 rows x 3 columns]

## Case Study: Name "Popularity"

In this exercise, let's find the name with sex "F" that has dropped most in popularity since its peak usage. We'll start by filtering `babynames` to only include names corresponding to sex "F".

In [25]:
#Answer Here
f_babynames=babynames[babynames['Sex']=='F']
f_babynames

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
1         CA   F  1910     Helen    239
2         CA   F  1910   Dorothy    220
3         CA   F  1910  Margaret    163
4         CA   F  1910   Frances    134
...      ...  ..   ...       ...    ...
239532    CA   F  2022    Zemira      5
239533    CA   F  2022     Ziggy      5
239534    CA   F  2022     Zimal      5
239535    CA   F  2022     Zosia      5
239536    CA   F  2022     Zulay      5

[239537 rows x 5 columns]

In [26]:
# We sort the data by year
f_babynames.sort_values('Year')

       State Sex  Year      Name  Count
0         CA   F  1910      Mary    295
148       CA   F  1910     Merle      9
149       CA   F  1910   Rosalie      9
150       CA   F  1910     Rosie      9
151       CA   F  1910    Teresa      9
...      ...  ..   ...       ...    ...
237072    CA   F  2022    Johana     22
237073    CA   F  2022       Kit     22
237074    CA   F  2022     Korra     22
237076    CA   F  2022  Lavender     22
239536    CA   F  2022     Zulay      5

[239537 rows x 5 columns]

To build our intuition on how to answer our research question, let's visualize the prevalence of the name "Jennifer" over time.

In [108]:
# We'll talk about how to generate plots in a later lecture
fig = px.line(f_babynames[f_babynames["Name"] == "Debra"],
              x = "Year", y = "Count")
fig.update_layout(font_size = 18,
                  autosize=False,
                 width=1000,
                  height=400)

We'll need a mathematical definition for the change in popularity of a name.

Define the metric "ratio to peak" (RTP). We'll calculate this as the count of the name in 2022 (the most recent year for which we have data) divided by the largest count of this name in *any* year.

A demo calculation for Jennifer:

In [53]:
# Find the highest Jennifer 'count'
jennifer_count=f_babynames[f_babynames['Name']=='Jennifer']
abc=jennifer_count['Count'].max()
abc

6065

In [51]:
# Remember that we sorted f_babynames by year.
last_year=f_babynames[f_babynames['Name']=='Jennifer']['Count'].iloc[-1]
# This means that grabbing the final entry gives us the most recent count of Jennifers: 114
last_year
# In 2022, the most recent year for which we have data, 114 Jennifers were born

114

In [55]:
# Compute the RTP
RTP=last_year/abc
RTP

0.018796372629843364

We can also write a function that produces the `ratio_to_peak`for a given `Series`. This will allow us to use `.groupby` to speed up our computation for all names in the dataset.

In [64]:
# define the function for RTP
def ratio_to_peak(series):
    return series.iloc[-1]/max(series)
"""
Compute the RTP for a Series containing the counts per year for a single name
"""

'\nCompute the RTP for a Series containing the counts per year for a single name\n'

In [65]:
# Construct a Series containing our Jennifer count data
jennifer_count=f_babynames[f_babynames['Name']=='Jennifer']['Count']
# Then, find the RTP using the function define above
ratio_to_peak(jennifer_count)

0.018796372629843364

Now, let's use `.groupby` to compute the RTPs for *all* names in the dataset.

You may see a warning message when running the cell below. As discussed in lecture, `pandas` can't apply an aggregation function to non-numeric data (it doens't make sense to divide "CA" by a number). By default, `.groupby` will drop any columns that cannot be aggregated.

In [66]:
# Results in a TypeError
rtp_table = f_babynames.groupby('Name').agg(ratio_to_peak)
rtp_table

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [107]:
# Find the RTP fro all names at once using groupby as describe in lec slides
rtp_table=f_babynames.groupby('Name')[['Count']].agg(ratio_to_peak)
rtp_table

            Count
Name
Aadhini  1.000000
Aadhira  0.500000
Aadhya   0.660000
Aadya    0.586207
Aahana   0.269231
...           ...
Zyanya   0.466667
Zyla     1.000000
Zylah    1.000000
Zyra     1.000000
Zyrah    0.833333

[13782 rows x 1 columns]

To avoid the warning message above, we explicitly extract only the columns relevant to our analysis before using `.agg`.

In [76]:
# Recompute the RTPs, but only performing the calculation on the "Count" column
rtp_table=f_babynames.groupby('Name')[['Count']].agg(ratio_to_peak)
rtp_table

            Count
Name
Aadhini  1.000000
Aadhira  0.500000
Aadhya   0.660000
Aadya    0.586207
Aahana   0.269231
...           ...
Zyanya   0.466667
Zyla     1.000000
Zylah    1.000000
Zyra     1.000000
Zyrah    0.833333

[13782 rows x 1 columns]

In [77]:
# Rename "Count" to "Count RTP" for clarity
rtp_table=rtp_table.rename(columns={'Count':'RTP Count'})
rtp_table

         RTP Count
Name
Aadhini   1.000000
Aadhira   0.500000
Aadhya    0.660000
Aadya     0.586207
Aahana    0.269231
...            ...
Zyanya    0.466667
Zyla      1.000000
Zylah     1.000000
Zyra      1.000000
Zyrah     0.833333

[13782 rows x 1 columns]

In [93]:
# What name has fallen the most in popularity?
abc=rtp_table.sort_values('RTP Count')

We can visualize the decrease in the popularity of the name "?:"

In [131]:
def plot_name(*names):
    fig = px.line(f_babynames[f_babynames["Name"].isin(names)],
                  x = "Year", y = "Count", color="Name",
                  title=f"Popularity for: {names}")
    fig.update_layout(font_size = 18,
                  autosize=False,
                  width=1000,
                  height=400)
    return fig
# pass the name into plot_name
plot_name("Debra")

In [99]:
# Find the 10 names that have decreased the most in popularity
top10=abc.head(10).index
# Answer Here
top10

Index(['Debra', 'Debbie', 'Carol', 'Tammy', 'Susan', 'Cheryl', 'Shannon',
       'Tina', 'Michele', 'Terri'],
      dtype='object', name='Name')

In [100]:
#plot_name(*top10)
px.line(f_babynames[f_babynames['Name'].isin(top10)],
x='Year',y='Count',color='Name')

For fun, try plotting your name or your friends' names.